#TagDetailPage {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: calc(100vh - 60px);
}

#tag-detail-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag-editor {
    display: flex;
    text-align: center;
    position: relative;
    width: max-content;
    height: max-content;
    max-width: calc(100vw - 40px);
}

@media all and (orientation:portrait) {
    #tag-detail-content-wrapper {
        min-width: max(25vh, min(375px, calc(100vw - 40px)));
        min-height: max(25vh, min(375px, calc(100vh - 60px)));
    }
}

@media all and (orientation:landscape) {
    #tag-detail-content-wrapper {
        min-width: max(25vw, min(375px, calc(100vw - 40px)));
        min-height: max(25vw, min(375px, calc(100vh - 60px)));
        justify-content: center;
    }
}

.cytoscape-wrapper {
    width: 600px;
    height: 600px;
}
