#post-container {
    position: absolute;
    max-width: 75vw;
    max-height: 42.18vw;
    width: 90%;
    height: 100%;
    left: 10%;
    margin-left: 10px;
}

#post-container img {
    max-width: 75vw;
    max-height: 75vh;
}

.back-overview a {
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
    margin: 5px;
}

.back-overview a:visited {
    color: white;
    text-decoration: none;
}

.back-overview a:hover {
    color: black;
    background-color: white;
    text-decoration: none;
}

.back-overview a:hover:visited {
    color: black;
    background-color: white;
    text-decoration: none;
}
