#post-container {
    background-color: #161b22;
    position: absolute;
    left: 50%;
    top: 10%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#post-container img {
    max-width: 70vw;
    max-height: 50vh;
}

#post-container > .video-container {
    width: 50vw;
    height: 28.125vw;
}

#post-container-top-row {
    display: flex;
    width: 100%;
}

#navigate-buttons {
    display: flex;
    margin-left: auto;
}

#post-information {
    text-align: right;
    margin-left: 5px;
    margin-right: 5px;
}
