#PostSearch {
    width: 100%;
    display: flex;
    position: absolute;
}

#image-wall {
    position: absolute;
    width: 90%;
    right: 0;
}

#image-wall-container {
    display: grid;
}

@media (min-width: 775px) {
    #image-wall-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1150px) {
    #image-wall-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1530px) {
    #image-wall-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1910px) {
    #image-wall-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

#page-button-container {
    text-align: center;
}

#page-full-count {
    text-align: center;
}

.page-button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 50px;
    background-color: transparent;
    color: white;
}

.page-button:hover:enabled {
    background-color: white;
    color: black;
}

.page-button:disabled {
    display: none;
}

.page-button-selected {
    background-color: white;
    color: black;
}

.post_wrapper {
    margin: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: 'public/logo512.png';
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid white;
    width: max-content;
    height: max-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    max-height: 180px;
}

.post_wrapper img {
    transition: all .2s ease-in-out;
}

.post_wrapper:hover img {
    transform: scale(1.5);
}

.thumb-img {
    max-width: 320px;
    max-height: 180px;
}
